<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">

      {% include _includes/nav.html %}

        <div class="p-2">{{ content }}</div>
      <p>layouts submodul</p>
    </div>
  </body>
</html>